---
permalink: /.well-known/keybase.txt
eleventyExcludeFromCollections: true
---
I hereby claim:

  * I am an admin of https://maibaloc.com
  * I am locmai0201 (https://keybase.io/locmai0201) on keybase.
  * I have a public key ASDGWTX1UxkkC7kuLq1HBBRMfuSyri1s-4t_WvYvXmZR_Ao

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "0120c65935f55319240bb92e2ead4704144c7ee4b2ae2d6cfb8b7f5af62f5e6651fc0a",
      "host": "keybase.io",
      "kid": "0120c65935f55319240bb92e2ead4704144c7ee4b2ae2d6cfb8b7f5af62f5e6651fc0a",
      "uid": "9cca025067540a6f8d7b33603532a119",
      "username": "locmai0201"
    },
    "merkle_root": {
      "ctime": 1674662749,
      "hash": "ea97b1b55ad0b24eac28c6b5a0c3f3de1900402779ddc21b320758f613b7cc439b821229733737e32940f60a63d8456d63cbb5727d66416b1aa635e0ee4a8598",
      "hash_meta": "8807cc4bf183b543172906b44cf28094e2d6a073d1dadb93a4e0ebee2e796827",
      "seqno": 23927958
    },
    "service": {
      "entropy": "0KUOWMudIE6QVaEF3r55LL2Z",
      "hostname": "maibaloc.com",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "6.0.2"
  },
  "ctime": 1674662760,
  "expire_in": 504576000,
  "prev": "52616599f1cfbfe2ce81adf6536d7bf56aaad074ce833a5ca2b121be9204869b",
  "seqno": 6,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgxlk19VMZJAu5Li6tRwQUTH7ksq4tbPuLf1r2L15mUfwKp3BheWxvYWTESpcCBsQgUmFlmfHPv+LOga32U2179Wqq0HTOgzpcorEhvpIEhpvEII3K8iNzjbxvw5Y8fUGehPgEKxIBkhA26vZNCr+N04NYAgHCo3NpZ8RArgF+Bxd2LXOBFVrH1/WDuL133/vaohePm97bFpU5llkCXO58wfT8jfSMxnDhMM8uZEBm58E1IEutv3Oe2AqmBahzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEII9DdFaAypuaQLLubKczUb1wYjdW8fPXi7p0vtmiTH8To3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/locmai0201